/* https://github.com/vipinkrishna */

* {
  box-sizing: border-box;
}

.Input {
  width: 200px;
  padding: 10px;
  // box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  & > div {
    margin-bottom: 10px;
  }
  & > div:last-of-type {
    margin: 0;
  }
  select {
    outline: none;
    background-color: yellow;
  }
}

.Output {
  margin: 10px 0;
  width: 200px;
  background-color: #eee;
  border-radius: 5px;
  img {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 10px;
  }
  div {
    text-align: center;
    padding-bottom: 10px;
  }
}